.app-footer {
    position: relative;
    bottom: 0;
    padding: 10px;
    width: 90%;
    max-width: 1400px;
    min-width: 960px;
    margin: 0 auto;
}

.app-footer p {
    font-size: 14px;
    word-break: break-word;
    color: #282c34;
}